.about-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-head {
  background-image: url("../../images/about.jpg");
  margin-bottom: 40px;
  padding-top: 40px;
  padding: 25px;
}
.about-body {
  margin-bottom: 25px;
  padding: 0 20px;
}

@media only screen and (max-width: 768px) {
  .about-body {
    padding: 20px 40px;
  }
}
