.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 5px;

  padding-top: 20px;
}
@media only screen and (max-width: 768px) {
  .services {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
